/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 83px;
  height: 44px;
}
.ensembleButtons {
  width: 153px;
  height: 28px;
  display: flex;
  align-items: center;
}
.banner {
  height: 630px;
  width: 100%;
}
.cadresOffers {
  display: flex;
  flex-wrap: wrap;
  background-color: aquamarine;
}
.cadreOffer:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  cursor: pointer;
}
.cadreOffer {
  border: 2px solid black;
  width: 235px;
  height: 414px;
  background-color: aliceblue;
}
.pictures {
  align-items: center;
  width: 220px;
  height: 293px;
}
